<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="OC.Core" publicKeyToken="21d5b409dafb75d2" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.17347" newVersion="2.0.0.17347" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>