<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.4" targetFramework="net452" />
  <package id="Google.Protobuf" version="3.6.1" targetFramework="net452" />
  <package id="Google.Protobuf.Tools" version="3.6.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net452" />
  <package id="OC.Core" version="2.0.0" targetFramework="net452" />
  <package id="OC.Core.Crypto" version="1.4.13" targetFramework="net452" />
  <package id="RestSharp" version="106.6.7" targetFramework="net452" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net452" />
  <package id="System.Security.Cryptography.Hashing.Algorithms.Analyzers" version="1.1.0" targetFramework="net452" />
</packages>